.dark-bg{
    background-color: #151515;
}

.login-img {
  background: url("https://images.unsplash.com/photo-1503342484812-ee33283508a5?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-position: center;
  background-size: cover;
}